.search
  form(method="GET" action="/search")
    span.sans-serif.filter-link(href="#filter") Filter
    .search-input
      button.clear-field(type="button")
      input(placeholder="Search" type="text" name="q" id="search")
      ins.icon.search-icon
